/*css reset*/
*{
    margin: 0;
    padding: 0;
}
/*=============*/
/*title font*/
.title{
    font-family: 'Sevillana', sans-serif;
    font-weight: 600;
}
/*==================*/
/*general css*/
nav{
    z-index: 99;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulsating-element {
  background-color: #3498db;
  border-radius: 50%;
  animation: pulse 1s infinite;
}

.title {
    /* Your other styles here */
    color: black; /* Set the default color */
  
    /* Standard color transition */
    transition: color 0.3s ease-in-out;
  }
  
  /* Color change when the menu is open */
  .title.text-white {
    color: white;
    transition-delay: 0.8s; /* Reset transition delay for immediate color change */
  }
  
  /* Delayed transition when the menu is open */
  .title.delayed-transition {
    transition-delay: 0.2s; /* Adjust the delay time as needed */
  }
  
  
/*==============================*/
/*menu trans*/
/* CSS */
.small-imgs img{
    margin: 10px;
    cursor: pointer;
}  
/*======================*/
/*loader*/
.spinner {
    position: fixed;
    left: 48%;
    top: 40%;
    width: 9px;
    height: 9px;
  }
  
  .spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #000000;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
  }
  
  .spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
  }
  
  .spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
  }
  
  .spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
  }
  
  .spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
  }
  
  .spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
  }
  
  .spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
  }
  
  .spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
  }
  
  .spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
  }
  
  .spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
  }
  
  .spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
  }
  
  @keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }
  
    50% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
  }
/*===========================*/
/*key frames*/
@keyframes slideFromDown {
    0% {
      transform: translateY(100%); /* Starting position (below the container) */
    }
    100% {
      transform: translateY(0); /* Ending position (inside the container) */
    }
  }
  
  /* Apply the animation to the element you want to slide */
  .element-to-slide {
    animation: slideFromDown 0.8s ease-out; /* Adjust duration and easing as needed */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fade-in {
    animation: fadeIn 1.2s ease-in-out; /* You can adjust the duration and timing function as needed */
  }
/*================*/