/*css reset*/
*{
    margin: 0;
    padding: 0;
}
/*=============*/
/*title font*/
.title{
    font-family: 'Sevillana', sans-serif;
    font-weight: 600;
}
/*==================*/
/*general css*/
nav{
    z-index: 99;
}
/*==============================*/